<!DOCTYPE html>
<html>

<head>
    <title>Home page</title>
</head>

<body>
    <h1>Home PAGE</h1>
    <p>Welcome home </p>

    <a href="/content">Manage Content</a> |
    <a href="/moderatorhome/profile">My Profile</a> |
    <a href="/request">User Request</a> |
    <a href="/logout">Logout</a>

</body>

</html>