<!DOCTYPE html>
<html>

<head>
	<title>Profile page</title>
</head>

<body>
	<h1>Profile PAGE</h1>
	<a href="/moderatorhome">Back</a> |
	<a href="/logout">Logout</a>
	<table>
		<form method="post">
			<tr>
				<td>Email :</td>
				<input type="hidden" name="id" value="<%=info[0].id%>">
				<td><%=info[0].email%></td>
			</tr>
			<tr>
				<td>Name: </td>
				<td><input type="text" name="username" value="<%=info[0].name%>"></td>
			</tr>
			<tr>
				<td>My Position: </td>
				<td>Moderator</td>
			</tr>
			<tr>
				<td><input type="submit" name="" value="Update"></td>
				<td></td>
			</tr>
		</form>
	</table>
</body>

</html>